<html>
  <style>
    p {
      color: blue;
      margin: 0px;
      padding: 0px;
    }
  </style>
  <body>
    <div style="margin-bottom: 1em; font-family: calibri; font-size: 11pt">
      Dear $salutation,
    </div>
    <div style="margin: 1em 0px; font-family: calibri; font-size: 11pt">
      Thank you for purchasing a gift membership to the South Carolina Aquarium!
      Your gift plays a critical role in helping us fulfill our mission, care
      for our animals and fund education and conservation programs.
      $recipient_full_name has received their membership information via the
      email address you provided and may begin using their membership
      immediately.
    </div>
    <div
      style="
        font-weight: bold;
        margin: 1em 0px;
        font-family: calibri;
        font-size: 11pt;
      "
    >
      Gift Membership Details
    </div>
    <ul style="margin-bottom: 0px">
      <li>Membership Name: $recipient_full_name</li>
      <li>Membership Level: $membership_level</li>
      <li>Membership Expiration Date: $membership_expiration</li>
      <li>Gift Message: $gift_message</li>
    </ul>
    <div style="margin: 1em 0px; font-family: calibri; font-size: 11pt">
      Should you need any assistance or have any questions about your gift
      membership, please feel free to contact us.
    </div>
    <div style="margin: 1em 0px; font-family: calibri; font-size: 11pt">
      Sincerely,
    </div>
    <div style="margin: 1em 0px 0px 0px; font-family: calibri; font-size: 11pt">
      Kendyll Collins
    </div>
    <div style="margin: 2em 0px 0px 0px; font-family: calibri; font-size: 11pt">
      Membership Program Coordinator
    </div>
    <div style="font-family: calibri; font-size: 11pt">
      (843) 577-FISH (3474)
    </div>
  </body>
</html>
