<html>
  <style>
    p {
      color: blue;
      margin: 0px;
      padding: 0px;
    }
  </style>
  <body>
    <div style="margin-bottom: 1em; font-family: calibri; font-size: 11pt">
      Dear $salutation,
    </div>
    <div style="margin: 1em 0px; font-family: calibri; font-size: 11pt">
      Thank you for purchasing an Aquarium $membership_level membership as a
      gift! $recipient_full_name will be notified of the gift and the included
      benefits via the email address you provided. Your gift plays a critical
      role in helping us care for our animals, execute our education initiatives
      and fund our conservation and research efforts.
    </div>
    <div
      style="
        font-weight: bold;
        margin: 1em 0px;
        font-family: calibri;
        font-size: 11pt;
      "
    >
      Gift Membership Details
    </div>
    <ul style="margin-bottom: 0px">
      <li>Membership is For: $recipient_full_name</li>
      <li>Membership is From: $giver_identification</li>
      <li>Gift Message: $gift_message</li>
      <li>Membership Level: $membership_level</li>
      <li>Membership Expiration Date: $membership_expiration</li>
    </ul>
    <p style="margin-top: 0px; font-style: italic; font-weight: bold">
      Please note, gift memberships are activated upon purchase.
    </p>
    <div style="margin: 1em 0px; font-family: calibri; font-size: 11pt">
      Thank you for sharing the Aquarium member experience with another, and for
      your support of our mission to connect people to water, wildlife and wild
      places! Should you need any assistance or have any questions about your
      gift membership, please feel free to contact us.
    </div>
    <div style="margin: 1em 0px; font-family: calibri; font-size: 11pt">
      Sincerely,
    </div>
    <div style="margin: 1em 0px 0px 0px; font-family: calibri; font-size: 11pt">
      Kayla Halchak v1
    </div>
    <div
      style="margin: 0px; padding: 0px; font-family: calibri; font-size: 11pt"
    >
      Membership Manager
    </div>
    <div style="margin: 1em 0px 0em 0px; font-family: calibri; font-size: 11pt">
      <b>South Carolina Aquarium</b>
    </div>
    <div style="margin: 0em 0px; font-family: calibri; font-size: 11pt">
      (843) 577-FISH (3474)
    </div>
  </body>
</html>
