<html>
  <style>
    p {
      color: blue;
      margin: 0px;
      padding: 0px;
    }
  </style>
  <body>
    <div style="margin-bottom: 1em; font-family: calibri; font-size: 11pt">
      Dear $recipient_first_name,
    </div>
    <div style="margin-bottom: 1em; font-family: calibri; font-size: 11pt">
      You have been given the gift of a South Carolina Aquarium
      $membership_level membership by $giver_fullname. This gift helps us
      fulfill our mission, care for our animals and fund education and
      conservation programs.
    </div>
    <div
      style="
        font-weight: bold;
        margin: 1em 0px;
        font-family: calibri;
        font-size: 11pt;
      "
    >
      Gift Membership Details
    </div>
    <ul style="margin-bottom: 0px">
      <li>Membership Level: $membership_level</li>
      <li>Membership Expiration Date: $membership_expiration</li>
      <li>Membership was Gifted By: $giver_identification</li>
      <li>Gift Message: $gift_message</li>
    </ul>
    <div
      style="
        font-weight: bold;
        margin: 1em 0px;
        font-family: calibri;
        font-size: 11pt;
      "
    >
      IMPORTANT INFORMATION
    </div>
    <ul style="margin-bottom: 0px">
      <li>
        Your membership is active and you may visit the Aquarium and enjoy your
        benefits right away!
      </li>
      <li>
        When you receive this email, please reach out to us to confirm all of
        your contact information is up to date.
      </li>
      <li>
        Be on the lookout for an email with instructions to download your
        digital membership card (make sure to check your spam folder).
      </li>
      <ul>
        <li>
          If you have previously downloaded the card, your new expiration will
          update automatically.
        </li>
      </ul>
      <li>
        Please reserve a date and time to visit the Aquarium at
        <a href="https://www.scaquarium.org/tickets">scaquarium.org/tickets</a>.
        Make sure to register or sign in using the email associated with your
        membership to reserve tickets (button at the top right-hand corner of
        the screen or at the bottom of the screen).
      </li>
    </ul>

    <div style="margin: 1em 0px; font-family: calibri; font-size: 11pt">
      For more information on membership, including upcoming member events,
      local discounts and our members-only
      <a href="https://www.facebook.com/groups/1548169775248312"
        >Facebook group</a
      >, please visit
      <a href="https://scaquarium.org/member-portal/"
        >scaquarium.org/member-portal</a
      >.
    </div>
    <div style="margin: 1em 0px; font-family: calibri; font-size: 11pt">
      If you have any questions about your membership or benefits, please feel
      free to contact us. We can't wait to <i>sea</i> you at the Aquarium soon!
    </div>
    <div style="margin: 1em 0px; font-family: calibri; font-size: 11pt">
      Sincerely,
    </div>
    <div style="margin: 1em 0px 0px 0px; font-family: calibri; font-size: 11pt">
      Kendyll Collins
    </div>
    <div style="margin: 2em 0px 0px 0px; font-family: calibri; font-size: 11pt">
      Membership Program Coordinator
    </div>
    <div style="font-family: calibri; font-size: 11pt">
      (843) 577-FISH (3474)
    </div>
  </body>
</html>
