<html>
<style>p {color:blue; margin: 0px; padding: 0px;}</style>
  <body>
    <div style="margin-bottom: 1em; font-family: calibri; font-size: 11pt;">
      Dear $guardian_first_name,
    </div>
    <div style="margin-bottom: 1em; font-family: calibri; font-size: 11pt;">
      As a gift from $giver_fullname you are now a Sea Turtle Guardian!  Your guardianship will be active for one year from today.
    </div>
    <div style="margin-bottom: 1em; font-family: calibri; font-size: 11pt;">
      As a Sea Turtle Guardian, you will receive exclusive content and information from our Sea Turtle care Center team, special invitatioins, and more for an entire year.  To see a full list of benefits and learn more, click <a href="https://www.scaquarium.org/guardian">here</a>. Please be on the lookout for another email from us on how you can fully maximize your guardianship. Also, we are currenty waiting for a new order of Sea Turtle car decals to arrive. As soon as those come in, we will send it out to you.
    </div>
    <div style="margin: 1em 0px; font-family: calibri; font-size: 11pt;">
      The gift given on your behalf supports critical hospital operations and advances in rehabilitation and medical research that will improve our ability to save sick and injured sea turtles. It will enable the Aquarium to deliver new, core curriculum-based learning programs that redefine the way students, worldwide, experience conservation messages. Lastly, it will inspire the next generation of environmental stewards to ensure the future protection of threatened and endangered sea turtles and their habitats.
    </div>
    <div style="margin: 1em 0px; font-family: calibri; font-size: 11pt;">
      We hope you enjoy your gift! If you have any questions about the Sea Turtle Guardian program, please contact us at (843) 579-8518 or <a href="mailto:membership@scaquarium.org">membership@scaquarium.org</a>.
    </div>
    <div style="margin: 1em 0px; font-family: calibri; font-size: 11pt;">
      Sincerely,
    </div>
    <div style="margin: 1em 0px 0px 0px; font-family: calibri; font-size: 11pt;">
      Kayla Halchak
    </div>
    <div style="margin: 0px; padding: 0px font-family: calibri; font-size: 11pt;">
      Membership Manager
    </div>
    <div style="margin: 1em 0px 0em 0px; font-family: calibri; font-size: 11pt;">
      <b>South Carolina Aquarium</b>
    </div>
    <div style="margin: 0em 0px; font-family: calibri; font-size: 11pt;">
      (843) 577-FISH (3474)
    </div>
  </body>

</html>