<html>
<style>p {color:blue; margin: 0px; padding: 0px;}</style>
  <body>
    <div style="margin-bottom: 1em; font-family: calibri; font-size: 11pt;">
      Dear $salutation,
    </div>
    <div style="margin-bottom: 1em; font-family: calibri; font-size: 11pt;">
      Thank you for purchasing a Sea Turtle Guardianship as a gift! The recipient will be notified of the gift and the included benefits via the email address you provided. Their guardianship will be active for one year from the date of purchase.
    </div>
    <div style="font-weight:bold; margin: 1em 0px; font-family: calibri; font-size: 11pt;">
      Order Details
    </div>
<!--     <ul style="margin-bottom: 0px">
      <li>From: $giver_identification</li>
      <li>Gift Message: $gift_message</li>
      <li>Membership Level: $membership_level</li>
      <li>Membership Expiration Date: $membership_expiration</li>
    </ul> -->
    <div style="margin-bottom: 1em; font-family: calibri; font-size: 11pt;">
      $stg_online_order_notes_1
    </div>
    <div style="margin: 1em 0px; font-family: calibri; font-size: 11pt;">
      Your gift supports critical hospital operations and advances in rehabilitation and medical research that will improve our ability to save sick and injured sea turtles. It will enable the Aquarium to deliver new, core curriculum-based learning programs that redefine the way students, worldwide, experience conservation messages. Lastly, your commitment will inspire the next generation of environmental stewards to ensure the future protection of threatened and endangered sea turtles and their habitats.
    </div>
    <div style="margin: 1em 0px; font-family: calibri; font-size: 11pt;">
      Thank you for sharing your passion of the conservation and protection of sea turtles. If you have any questions about your gift, please contact us at (843) 579-8518 or <a href="mailto:membership@scaquarium.org">membership@scaquarium.org</a>.
    </div>
    <div style="margin: 1em 0px; font-family: calibri; font-size: 11pt;">
      Sincerely,
    </div>
    <div style="margin: 1em 0px 0px 0px; font-family: calibri; font-size: 11pt;">
      Kayla Halchak
    </div>
    <div style="margin: 0px; padding: 0px; font-family: calibri; font-size: 11pt;">
      Membership Manager
    </div>
    <div style="margin: 1em 0px 0em 0px; font-family: calibri; font-size: 11pt;">
      <b>South Carolina Aquarium</b>
    </div>
    <div style="margin: 0em 0px; font-family: calibri; font-size: 11pt;">
      (843) 577-FISH (3474)
    </div>
  </body>

</html>