<html>
<style>p {color:blue; margin: 0px; padding: 0px;}</style>
  <body>
    <div style="margin-bottom: 1em; font-family: calibri; font-size: 11pt;">
      Dear $recipient_first_name,
    </div>
    <div style="margin-bottom: 1em; font-family: calibri; font-size: 11pt;">
      You have been given the gift of a South Carolina Aquarium Family membership from $gift_giver_fullname. The gift
      given on your behalf plays a critical role in helping us care for our animals, execute our education initiatives,
      and fund our conservation and research efforts.
    </div>
    <div style="margin: 1em 0px; font-family: calibri; font-size: 11pt;">
      As a member, you receive special benefits such as unlimited admission, free or discounted access to special events
      and educational programs, as well as discounts at many area attractions. To see a full list of benefits,
      click <a href="https://scaquarium.org/member-portal/">here</a>. Also, make sure to join our members-only Facebook
      group by clicking <a href="https://www.facebook.com/groups/1548169775248312">here</a>.
    </div>
    <div style="margin: 1em 0px; font-family: calibri; font-size: 11pt;">
      Please be on the lookout for another email from us detailing how to download your digital membership card. If you
      have previously downloaded the card, your new expiration should update automatically. If you would prefer a
      physical card, please contact us at (843) 577-FISH (3474) or <a href="mailto:membership@scaquarium.org">membership@scaquarium.org</a>. If you are a new member,
      please allow 5-7 business days for your membership car decal to arrive.
    </div>
    <div style="font-weight:bold; margin: 1em 0px; font-family: calibri; font-size: 11pt;">
      Gift Membership Details
    </div>
    <ul style="margin-bottom: 0px">
      <li>From: $giver_identification</li>
      <li>Gift Message: $gift_message</li>
      <li>Membership Level: $membership_level</li>
      <li>Membership Expiration Date: $membership_expiration</li>
    </ul>
    <p style="margin-top: 0px; font-style: italic; font-weight: bold;">Please note, gift memberships are activated upon purchase.</p>
    <div style="margin: 1em 0px; font-family: calibri; font-size: 11pt;">
      To reduce the potential spread of COVID-19, cloth masks or face coverings are required for all Aquarium guests
      (ages three and up). Also, all visits require a dated and timed ticket to ensure we limit the number of guests in
      the building. Please visit <a href="https://scaquarium.org/tickets">scaquarium.org/tickets</a> to make your reservation. Please make sure to register or sign
      in using the email associated with your membership to reserve your tickets.
    </div>
    <div style="margin: 1em 0px; font-family: calibri; font-size: 11pt;">
      We hope you enjoy your gift! If you have any questions about your membership or benefits, please feel free to
      contact us.
    </div>
    <div style="margin: 1em 0px; font-family: calibri; font-size: 11pt;">
      Sincerely,
    </div>
    <div style="margin: 1em 0px; font-family: calibri; font-size: 11pt;">
      Kayla
    </div>
  </body>

</html>